/* Because Bootstrap is being a jerk */
#card {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-color: black;
}

.expel {
    background-color: lightgray;
}

.sort {
    background-color: lightgray;
}
